{% extends "europe_blog/base.html" %}
{% block content %}
  {% for post in object_list %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">Posted {{ post.date_posted|date:"F j, Y" }}</small>
        </div>
        <div>
          <h2><a class="article-title" href="{% url 'europe_post_detail' post.id %}">{{ post.location }}</a></h2>
          <small class="text-muted">{{ post.arrival_date|date:"F j, Y" }} - {{ post.departure_date|date:"F j, Y" }}</small>
        </div>
        <p class="article-content">{{ post.content|safe }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock %}