{% extends 'django_project/base.html' %}
{% block content %}
  <div class="article-title">
    <h2>Joe "Joe Rogan" Rogan</h2>
    <small class="text-muted">Last updated {{ last_updated }}</small>
  </div>
  <div class="content-section">
    {% for joe_rogan_post in page_obj %}
      <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{{ joe_rogan_post.url }}">{{ joe_rogan_post.title }}</a></h2>
          <img src="{{ joe_rogan_post.thumbnail_url }}" alt="Youtube video thumbnail" style="width:100%;">
          <p class="article-content">
            <ul>
            {% for quote in joe_rogan_post.quotes %} 
              <li>{{ quote|safe }}</li>
            {% endfor %}
            </ul>
          </p>
        </div>
      </article>
    {% endfor %}
  </div>

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    {% if page_obj.number != 2 %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endblock %}