{% extends 'django_project/base.html' %}
{% block content %}
  <h2>Joe "Joe Rogan" Rogan</h2>
  <div class="content-section">
    <small class="text-muted">Last updated {{ last_updated }}</small>
      {% for title, video in videos.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ video.url }}">{{ title }}</a></h2>
            <img src="{{ video.thumbnail.url }}" alt="Youtube video thumbnail" style="width:100%;">
            <p class="article-content">
              <ul>
              {% for quote in video.quotes %} 
                <li>{{ quote|safe }}</li>
              {% endfor %}
              </ul>
            </p>
          </div>
        </article>
      {% endfor %}
  </div>
{% endblock %}